

<div class="row">
    <div class="col-md-12">

        <div class="panel">
            <div class="panel-heading">
                Enabled exchanges
            </div>
            <div class="panel-body">
                <ul>
                    <li>kraken: read and save prices</li>
                    <li>icm: alpha engine</li>
                </ul>
            </div>
        </div>
        
        <div class="panel">
            <div class="panel-heading">
                Actual orders
            </div>
            <div class="panel-body">
                
            </div>
        </div>
    </div>
</div>